body{
    margin:0;
    font-size: 16px;
    background-image: url(./img/bg-2.jpg);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
.custom-box{
    max-width: 700px;
    background-color: #ffffff;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    animation: fadeInRight 1s ease;
}
@keyframes fadeInRight{
    0%{
        transform: translateX(40px);
        opacity: 0;
    }
    100%{

        transform: translateX(0px);
        opacity: 1;
    }
}

.custom-box::before,
.custom-box::after{
    content: '';
    clear: both;
    display: table;
}
.custom-box.hide{
    display: none;
}
.home-box h3{
    font-size: 16px;
    color: black;
    font-weight: 500;
    margin-bottom: 25px;
    line-height: 25px;
}
.home-box p{
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 22px;
    color: black;
    font-weight: 400;

}
.home-box p span{
    font-weight: 500;
    font-size: 15px;
}
.home-box .btn{
    margin-top: 20px;
}
.btn{
    padding:15px;
    background-color: #0f0096;
    
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}
.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-btn,
.quiz-box .answers-indicator{
    width: 100%;
    float:left;
}

.quiz-box .question-number{
    font-size:18px;
    color: #0f0096;
    font-weight: 500;
    border-bottom:  3px solid #ccc;
    line-height: 25px;
}
.quiz-box .question-text{
    font-size: 15px;
    counter-reset: #000000;
    line-height: 28px;
    font-weight: 400;
    padding: 10px 0;
    margin: 0;
}
.quiz-box .option-container div{
    background-color: #ccc;
    padding: 15px;
    font-size: 16px;
    line-height: 28px;
    
    
    margin: 0;
    
}
.quiz-box .option-container .option{
    background-color: #ccc;
    padding: 13px 15px;
    font-size: 16px;
    line-height: 22px;
    color:#000000;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor:pointer;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    position: relative; 
    overflow: hidden;

} 
.quiz-box .option-container .option.already-answerd{
    pointer-events: none;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.quiz-box .option-container .option.correct::before{
    content: '';
    position: absolute;
    left:0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 128, 0, 0.637);
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}
@keyframes slideInLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }

}
.quiz-box .option-container .option.wrong::before{
    content: '';
    position: absolute;
    left:0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.705);
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}
.quiz-box .option-container .option.wrong{
    color: #ffffff;

}
.quiz-box .option-container .option.correct{
    color: #ffffff;
}
.quiz-box .btn{
    margin: 15px 0;
}
.quiz-box .answers-indicator{
    border-top: 1px solid #ccc;

}
.quiz-box .answers-indicator div{
   height: 40px;
   width: 40px;
   display:inline-block; 
   background-color: #ccc;
   border-radius: 50%;
   margin-right: 10px;
   margin-top: 10px;

}
.quiz-box .answers-indicator div.correct{
    background-color: rgba(0, 128, 0, 0.74);
     background-image: url("img/correct.png");
     background-size: 50%;
     background-repeat: no-repeat;
     background-position:  center;
     
}
.quiz-box .answers-indicator div.wrong{
    background-color: rgba(255, 0, 0, 0.829);
    background-image: url("img/wrong.png");
    background-size: 50%;
     background-repeat: no-repeat;
     background-position:  center;
     
}
.result-box.hide{
    display: none;
}
.result-box{
    text-align: center;
}
.result-box h1{
    font-size: 36px;
    line-height: 42px;
    color: #009688;
    text-shadow: 2px 2px rgba(0, 0, 255, 0.658);
    font-family: Arial, Helvetica, sans-serif;
}
.result-box table{
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}
.result-box table td{
    border: 1px solid #cccccc;
    padding: 8px 15px;
    font-weight: 500;
    color: #000000;
    width: 50%;
    text-align: left;
    font-size: 18px;
}
.result-box .btn{
    margin-right: 20px;

}
.hero-footer{
    height: 100px;
    font-weight: 100;
    background-color: #0f0096;
    border-radius: 3px;
    max-width: 700px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    animation: fadeInRight 1s ease;

}
.hero-footer h1{
    font-size: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.658);
    
    
}
.hero-footer a{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 35%;
    font-size: 20px;
    color: rgba(250, 235, 215, 0.877);
    text-decoration: none;
    
    
}
@media(max-width:767px){
    .result-box .btn{
        margin-bottom:15px;

    }
    body{
        padding: 12px;
    }
}